div {
  float: left;
  padding: 15px; 
  width: 60px;
  height: 40px;
}

.div1 {
  float: left;
  padding: 15px; 
  width: 15px;
  height: 10px;
  background: red;
}

.div2 {
  float: left;
  padding: 15px; 
  width: 15px;
  height: 10px;
  background: yellow;
}

.div3 {
  float: left;
  padding: 15px; 
  width: 15px;
  height: 10px;
  background: green;
}